@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

*{
    margin: 2px;
    padding: 2px;
}
body{
    background-color: rgb(194, 6, 6);
}
/* NavBar */
.nav{
    background-color: rgb(53, 46, 46);
    border-radius: 13px;
    box-shadow: 2px 2px 4px black;
    /* height: 50px; */
}

.nav ul{
    display: flex;
    justify-content: center;
    /* margin-top: 3px;
    margin-bottom: 3px; */
}

.nav ul li{
    color: white;
    list-style: none;
    font-family: 'Silkscreen', cursive;
    font-size: 29px;
}
/* Game  */
.game{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin: 65px;
}

/* Game Container  */
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Silkscreen', cursive;
}
.box{
    color: #000000;
    border: 3px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.box:hover{
    border: 3px solid black;
    font-size: 7vw;
    cursor: pointer;
    background-color: rgba(58, 36, 36, 0.87);
    color: rgb(255, 255, 255);
}
/* Border  */
.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom: 0px;
}
.bl-0{
    border-left: 0px;
}
.br-0{
    border-right: 0px;
}


/* GameInfo */
.gameInfo{
    padding: 34px;
}
.gameInfo h1{
    font-family: 'Anton', sans-serif;
    font-size: 49px;
    /* text-shadow: 1px 1px 2px rgb(68, 63, 63); */
    font-weight: 200;
}
.gameInfo .info span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}
.gameInfo .info #btn:hover{
    background: none;
    /* border: none; */
    font-family: 'Anton', sans-serif;
    /* font-size: 35px; */
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
    padding: 4px 8px;
}
.gameInfo .info #btn{
    margin: 15px;
    font-size: 16px;
    background: none;
    /* border: none; */
    font-family: 'Anton', sans-serif;
    /* font-size: 35px; */
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    width: 150px;
    box-shadow: 1px 2px 3px black;
}
.gameInfo .gif img{
    width: 0;
    transition: width 1s ease-in-out;
}
.gameInfo .info{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.gameInfo .info .face{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

/* Media Queries */
@media only screen and (max-width: 750px) {
    .game{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin: 29px 10px;
        padding: 0;
    }
    .gameInfo h1{
        font-size: 39px;
        margin: 2px 0px;
        padding: 0;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
